/* Going with the mobile design first */
body {
    text-align: center;
    margin: 0px;
}
h2{
    margin: 0px;
    font-family: 'MedievalSharp', cursive;
}
/* Header Settings */
.mainHeader{
    /* Want to auto set the header to fill a phone screen but I'm going to put that off till I have more time. For now I'm going to assuming 600px for height of phone. */
    background-image: url("https://i.imgur.com/xs43N1N.jpg");
    background-repeat: no-repeat;
    background-size: 190%;
    background-position: center -100px;
    font-family: 'MedievalSharp', cursive;
    padding: 375px 0px 125px 0px;
    color: white;
}
h1 {
    font-size: 40px;
}
/* Nav Bar Settings */
nav {
    /* Color background needs work */
    /* Tried picking from background but I think I need be very fancy for this to work */
    background-color: #66696b;
    /* Icon Settings */
    font-size: 45px;
    text-align: right;
    color: white;
}
i {
    padding: 5px 10px;
}
#navLinks {
    display: none;
    background-color: #3f4142;
    flex-direction: column;
    align-items: center;
}
/* Figured out that I needed place these settings here instead of above */
a{
    text-decoration: none;
    color: white;
}
/* About Me Settings */
/* .aboutMe {
    Probably want an background image here...
} */
.amMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.amh {
    font-family: 'MedievalSharp', cursive;
    background-color: #b7c5ef;
    padding: 17px;
}
.am1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.am2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.am3 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
/* Project Settings */
.pHeader {
    font-family: 'MedievalSharp', cursive;
    background-color: #b7c5ef;
    padding: 17px;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li header {
    background-color: #66696b;
    padding: 3px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    align-self: stretch;
}
li a {
    /* Pick from my hair */
    background-color: #a58d6f;
    padding: 3px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    align-self: stretch;
}
img {
    width: 90%;
}
/* Contact Me Settings */
#contact {
    background-color: #66696b;
}
.cHeader {
    font-family: 'MedievalSharp', cursive;
    background-color: #b7c5ef;
    padding: 17px;
}
/* needs more content */
.contactInfo {
    padding: 1px;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}